<section class='bg-zinc-900 p-20 rounded-xl my-4 text-center md:text-left'>
  <h2 class='text-5xl font-bold my-5'>About Us</h2>
  <p class='text-zinc-300'>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum sequi
    quasi modi aut eaque similique vitae praesentium odit ratione ipsum iusto
    excepturi hic aspernatur vel, voluptatum tempora totam autem illum!
  </p>
</section>
