---
import Button from './Button.astro';
---

<header
  class='bg-zinc-900 flex flex-col md:flex-row text-center md:text-left p-20 gap-3 rounded-xl'
>
  <div>
    <h1 class='text-5xl font-bold pb-2'>Protect your password</h1>
    <p class='my-4 text-2xl'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eaque
      assumenda sunt quam sapiente totam! Cum quas optio repudiandae.
      Voluptatum?
    </p>
    <Button text='Get Started' />
  </div>
  <img src='./images/fingerprint.svg' alt='' class='w-80' />
</header>
